# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\springboot-projects\spring-boot-rest-template\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
